body {
  width: 45%;
  margin: 120px auto;
  font-size: 20px;
}

body p {
  padding-top: 70px;
}

body div {
  margin: 20px;
  color:  #333;
}

body input {
  width: 40%;
  margin: 0 12px;
}

.selectHolder {
  margin:  0px;
}

.selectHolder div {
  display:  inline-block;
}

.search div {
  background-color: #005f5c;
  color: #dfdfdf;
  border-radius:  6px;
  width:  60px;
  padding:  6px 12px;
  text-align:  center;
}