/* DEBUGGING PURPOSE ONLY */
table, th, tr, td {
  /* border: 1px solid; */
}

table.aboutTitle {
  font-size: 20px;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  text-align: center;
  padding: 1%;
}

table.aboutContent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  text-align: justify;
  padding: 1%;
}

img {
  width: 100%;
  height: auto;
}