<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

<!-- this include tag should be at the top of each page to add the header above the body-->
{% include "retroapp/header.html" %}

<body>
    <table>
        <tr>
            <td>
                <img src="{% static 'media/puppy.jpg' %}" alt="puppy"/>
            </td>
            <td>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus enim vitae metus congue, in placerat arcu
                    pharetra. Integer aliquet, lacus sit amet cursus pellentesque, nibh leo tincidunt sem, non eleifend nisl tellus nec
                    ante. Vivamus egestas augue a egestas interdum. Aliquam porta elementum tellus. Aliquam ac blandit sapien. Quisque
                    egestas in ante accumsan ornare. Aenean tincidunt porttitor nunc eu viverra. Suspendisse bibendum dapibus euismod.
                
                    Sed eget sollicitudin sapien. Etiam sapien neque, interdum nec est a, convallis interdum nisl. Suspendisse potenti.
                    Quisque eleifend tellus eget tellus suscipit dictum. Nullam consectetur velit eu auctor condimentum. Vestibulum eros
                    nisl, fringilla non metus ac, malesuada placerat libero. Quisque aliquet, lectus vitae gravida interdum, ligula urna
                    lacinia mi, vel cursus urna ipsum at ante. Vestibulum sed eros sed turpis aliquet aliquet ac eget dolor. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Mauris venenatis congue mauris, in pretium turpis pulvinar ac. Donec
                    lobortis sapien iaculis, molestie ligula ut, iaculis urna.
                
                    Sed vel feugiat metus. Donec vehicula dolor mi. Aenean arcu est, porta vel libero sed, maximus finibus eros. Duis
                    efficitur lectus venenatis consectetur fringilla. Sed commodo nulla molestie diam ultricies pulvinar. Suspendisse
                    volutpat felis justo, sit amet tempus velit posuere eget. Fusce vitae hendrerit leo. Vestibulum non enim posuere,
                    suscipit tortor id, dignissim sapien.
                
                    In sit amet erat molestie, efficitur odio posuere, rhoncus elit. Ut feugiat, arcu nec tristique suscipit, odio purus
                    sodales turpis, non sagittis lectus sem ut elit. Morbi bibendum vel purus eu varius. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse ullamcorper sem molestie mollis
                    volutpat.
                    Sed placerat libero mollis rhoncus posuere. Nulla eleifend cursus nunc sit amet condimentum. Pellentesque vestibulum
                    elit et nibh fringilla, quis fermentum neque iaculis. Phasellus justo felis, cursus non lorem in, lobortis lobortis
                    turpis. Aenean eget gravida lacus. Nam mattis nibh vitae ante dapibus auctor.
                
                    Vestibulum gravida efficitur orci, id viverra lorem aliquam quis. Morbi efficitur libero sit amet volutpat faucibus.
                    Aliquam varius posuere urna, id venenatis quam mollis nec. Ut interdum sed lectus ac porta. Quisque neque magna,
                    sollicitudin in ex sit amet, sodales aliquam purus. Aliquam erat volutpat. Nulla sapien enim, feugiat nec maximus
                    ut,
                    molestie ut nisl. Maecenas blandit rutrum dui id pellentesque. Integer turpis neque, rutrum pretium mi eget,
                    interdum
                    ultricies mi. Donec nec justo mi. In condimentum dapibus nibh, non egestas sem sollicitudin eget. Etiam faucibus
                    augue
                    non nulla pulvinar, in semper libero cursus. Vestibulum aliquam velit quis dui ultrices mattis.
                </p>
            </td>
        </tr>
    </table>
</body>

</html>

