<html>
    {% include "retroapp/header.html" %}

    {% load socialaccount %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/guest_landing.css' %}">

    <body>
        <table cellspacing="10">
            {% if message %}
                {% if message_tag|upper == "ERROR" %}
                    <tr>
                        <td>
                            <img alt="Error" src="{% static 'media/error_small.png' %}">
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td>
                        {{ message_tag|upper }}: {{ message }}
                    </td>
                </tr>
            {% endif %}

            {% if not user_is_authenticated %}
                <tr>
                    <td>
                        <button>
                            <a href="/retroapp/home">
                                Login
                            </a>
                        </button>
                    </td>
                </tr>
            {% endif %}
        </table>
    </body>
</html>