{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">

<header>
    <div class="logo">
        <!-- Biomolecular Architect -->
        <img src="{% static 'media/biomolecular_architect_header.png' %}" alt="biomolecular_architect" />
    </div>

    {% if not remove_tabs %}
        <div class="navLinks">
            <!-- <a href="./home.html">Home/Login</a> -->
            <a href="{% url 'home' %}" id="home-tab">Home/Login</a>
            <!-- <a href="./search.html">Define Target Molecule</a> -->
            <a href="{% url 'search' %}" id="target-tab">Define Target Molecule</a>
            <!-- <a href="{% url 'pks' %}" id="pks-tab">PKS Engine</a> -->
            <a href="{% url 'history' %}" id="history-tab">History</a>
            <!-- <a href="./home.html">About</a> -->
            <a href="{% url 'about' %}" id="about-tab">About</a>
        </div>
    {% endif %}
</header>