<html>
    {% load socialaccount %}
    {% load domainFilters %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/history.css' %}">
    
    {% if not user.is_authenticated %}
        {% include "retroapp/guest_landing_page.html" %}
    
    {% else %}
        {% include "retroapp/header.html" %}
        
        <body>
            <table style="border: none;">
                <tr style="border: none;">
                    <td colspan="100" style="text-align: left; border: none;">
                        Hello {{ user }} ...
                    </td>
                    <td style="text-align: right; border: none;">
                        <input type="reset" value="Refresh" name="refresh" id="id_refresh">
                    </td>
                </tr>
            </table>

            <table cellspacing="10">
                <tr>
                    <th colspan="100" style="text-align: center;">
                        Query History
                    </th>
                </tr>


                <tr>
                    <th>SNo</th>
                    <!-- <th>Q_uuid</th> -->
                    <th>Timestamp</th>
                    <th>SMILES</th>
                    <th>Notes</th>
                    <th>Property</th>
                    <th>Target Value</th>
                    <th>Min Value</th>
                    <th>Max Value</th>
                    <th>Sorting Mode</th>
                    <th>Job ID</th>
                    <th>Job Status</th>
                </tr>

                {% for query in query_object_list %}
                    {% for query_prop in query.1 %}
                        <tr>
                            {% if forloop.counter == 1 %}
                                <td rowspan="{{ query.1.count }}">{{ forloop.parentloop.counter }}</td>
                                <!-- <td rowspan="{{ query.1.count }}">{{ query.0.Q_uuid }}</td> -->
                                <td rowspan="{{ query.1.count }}">{{ query.0.Timestamp }}</td>
                                <td rowspan="{{ query.1.count }}">
                                    <a href="/retroapp/oldresult?name={{ query.0.Q_uuid }}">
                                        {{ query.0.Q_smiles }}
                                    </a>
                                </td>
                                <td rowspan="{{ query.1.count }}">{{ query.0.Q_notes }}</td>
                            {% endif %}
        
                            <td>{{ MOLECULE_PROPERTIES|fetch_choice_label:query_prop.Property_name }}</td>
                            <td>{{ query_prop.Target_value }}</td>
                            <td>{{ query_prop.Min_value }}</td>
                            <td>{{ query_prop.Max_value }}</td>
                            <td>{{ SORTING_OPTIONS|fetch_choice_label:query_prop.Sorting_mode }}</td>

                            {% if forloop.counter == 1 %}
                                <td rowspan="{{ query.1.count }}">{{ query.0.Q_Job_id }}</td>
                                <td rowspan="{{ query.1.count }}">{{ query.0.Q_Status }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </body>
    {% endif %}

    <!-- RESET form -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#id_refresh").click(function (event) {
                $.ajax({
                    type: "GET",
                    url: 'history',
                    success: function (response) {
                        location.reload(true);
                    }
                });
            });
        })
    </script>
</html>