<html>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

  <!-- this include tag should be at the top of each page to add the header above the body-->
  {% include "retroapp/header.html" %}

  <body>
    <p>Please login with your LDAP username / password.</p>
    <div>
      Username: <input class="usernameInput" type="text" />
    </div>
    <div>
      Password: <input class="passwordInput" type="password" />
    </div>
    <div class="submitButton">
      <a class="login">
        <div>Login</div>
      </a>
    </div>
  </body>
</html>