<table class="loginTable" cellspacing="10">
    <tr>
        <td colspan="2">
            Please login with your LDAP username / password.
        </td>
    </tr>

    <tr>
        <td>Username</td>
        <td>
            <input class="inputPrimary" type="text" />
        </td>
    </tr>

    <tr>
        <td>Password</td>
        <td>
            <input class="inputPrimary" type="password" />
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <a class="loginBtn">
                <div>Login</div>
            </a>
        </td>
    </tr>
</table>