{% load widget_tweaks %}
{% load domainFilters %}

<!-- Actual form things -->
{% for hidden_field in smiles_form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

{% if smiles_form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in smiles_form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}


<table class="searchForm">
    <!-- SMILES Drawer Canvas -->
    <tr>
        <td rowspan="99">
            <canvas id="smiles-canvas" width="500" height="500" style="width: 0px; height: 0px;"></canvas>
        </td>
    </tr>

    <!-- SMILES and Property Form -->
    <tr>
        <td> {{ smiles_form.Q_smiles.label }} </td>
        <td colspan="5"> {{ smiles_form.Q_smiles }} </td>
    </tr>

    {% for form in property_formset %}
        <tr id="id_property_constraints">
            <td> {{ form.Property_name.label }} </td>
            <td> {{ form.Property_name }} </td>
            <td> {{ form.property_value_range.label }} </td>
            <td> {{ form.property_value_range }} </td>
            <td> {{ form.Sorting_mode.label }} </td>
            <td> {{ form.Sorting_mode }} </td>
        </tr>
    {% endfor %}

    <tr>
        <td colspan="6" align="right">
            <input type="button" value="Add property" name="add_property" id="id_add_property" class="utilButton">
        </td>
    </tr>

    <tr>
        <!-- <td> {{ smiles_form.notes.label }} </td> -->
        <td> {{ smiles_form.Q_notes.label }} </td>
        <!-- <td colspan="5"> {{ smiles_form.notes }} </td> -->
        <td colspan="5"> {{ smiles_form.Q_notes }} </td>
    </tr>

    <tr>
        <td colspan="6" align="right">
            <input type="reset" value="Reset" name="reset" id="id_reset" class="utilButton">
        </td>
    </tr>
</table>


<!-- Script: SMILES String Canvas Draw -->
<script src="https://unpkg.com/smiles-drawer@1.0.10/dist/smiles-drawer.min.js"></script>
<script>
    // let input = document.getElementById("id_smiles_string");
    let input = document.getElementById("id_Q_smiles");
    let options = {
        "width": 250,
        "height": 250,
    };

    // Initialize the drawer to draw to canvas
    let smilesDrawer = new SmilesDrawer.Drawer(options);
    // Alternatively, initialize the SVG drawer:
    // let svgDrawer = new SmilesDrawer.SvgDrawer(options);

    function canvasDraw() {
        // Clean the input (remove unrecognized characters, such as spaces and tabs) and parse it
        SmilesDrawer.parse(input.value, function (tree) {
            // Draw to the canvas
            smilesDrawer.draw(tree, "smiles-canvas", "light", false);
            // Alternatively, draw to SVG:
            // svgDrawer.draw(tree, 'output-svg', 'dark', false);
        });
    }

    input.addEventListener("input", canvasDraw);
    window.addEventListener('load', canvasDraw);
</script>

<!-- Script: Form field validation -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function isNum(val) {
        // TODO Look into this. Might break.
        return !isNaN(val);
    }

    function validate() {
        var total_forms = $('#id_form-TOTAL_FORMS').val();
        var searchQuery = $("#id_form-" + (total_forms-1) + "-property_value_range").val();
        console.log("check if input is number - " + isNum(searchQuery));

        // checking if the input is a number or a range
        // const sorting_mode_elem = document.getElementById('id_form-' + (total_forms-1) + '-sorting_mode');
        const sorting_mode_elem = document.getElementById('id_form-' + (total_forms-1) + '-Sorting_mode');
        if ((searchQuery == "") | (!isNum(searchQuery))) {
            sorting_mode_elem.removeAttribute('disabled');
        }
        else {
            sorting_mode_elem.value = 2;
            sorting_mode_elem.setAttribute('disabled', '');
        }
    }

    var total = $('#id_form-TOTAL_FORMS').val();
    $("#id_form-" + (total-1) + "-property_value_range").keyup(validate)
    $(document).ready(validate)

</script>

<!-- Script: Add Property Field -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();

        newElement.find(':input').each(function () {
            var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            
            if (name.indexOf("Property_name") >= 0){
                var elem_value = 0
            } else if (name.indexOf("Sorting_mode") >= 0) {
                var elem_value = 2
            } else {
                var elem_value = ''
            }

            $(this).attr({ 'name': name, 'id': id }).val(elem_value).removeAttr('checked');
            $(this).attr({ 'name': name, 'id': id }).val(elem_value).removeAttr('disabled');
        });

        newElement.find('label').each(function () {
            var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
            $(this).attr('for', newFor);
        });

        total++;

        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);

        // Validating the new field property range to activate/deactivate sorting field.
        $("#id_form-" + (total - 1) + "-property_value_range").keyup(validate)
        $(document).ready(validate)
    }

    $('#id_add_property').click(function () {
        cloneMore('tr#id_property_constraints:last', 'form');
    });

</script>

<!-- RESET form -->
<script type="text/javascript">
    $(function () {
        $("#id_reset").click(function (event) {
            $.ajax({
                type: "GET",
                url: 'search',
                success: function (response) {
                    location.reload(true);
                }
            });
        });
    })
</script>