<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
        
        <!-- SMILES Drawer -->
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" />
    </head>

    <!-- this include tag should be at the top of each page to add the header above the body-->
    {% include "retroapp/header.html" %}

    <body>
        <table class="searchTitle">
            <tr>
                <td>
                    Enter molecule SMILES data and property model
                </td>
            </tr>
        </table>

        <form action="" method="post" target="resultsFrame" id="id_form">
            {% csrf_token %}
            {{ property_formset.management_form }}
            {% include 'retroapp/search_form.html' with form=form %}

            <table class="searchBtn">
                <tr>
                    <td>
                        <input class="submitBtn" type="submit" value="Submit" id="id_submit">
                    </td>
                </tr>
            </table>            
        </form>

        <iframe name="resultsFrame" class="results" id="id_resultsFrame">
            <!-- 'retroapp/show_results.html' is being displayed here in the view function => pks_search_result! -->
        </iframe>
        
    </body>

    <!-- Disable submit button for 3 seconds after a click -->
    <script type="text/javascript">
        $(function () {
            $("#id_submit").attr("disabled", false);
            
            console.log("Before submit")
            $("#id_form").submit(function () {
                $("#id_submit").attr("disabled", true).val("Please wait...");
                
                setTimeout(() => {
                    $("#id_submit").attr("disabled", false).val("Submit");
                }, 3000);

                return true;
            });
        })
    </script>
</html>
