<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">

    <!-- this include tag should be at the top of each page to add the header above the body-->
    {% include "retroapp/header.html" %}

    <body>
        <p>Enter molecule SMILES data and property model</p>

        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>