{% load domainFilters %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/tables.css' %}">

<table>
    <tr>
        {% for k in keys %}
        <th>
            {{ k | upper | replace:"_| "}}
        </th>
        {% endfor %}
    </tr>

    {% for i, r in df.iterrows %}
    <tr>
        <td>
            <img style="width: 100%" 
                    alt="alt text" 
                    data-smilesq="{{ r.SMILES | urlq }}" 
                    data-smiles="{{ r.SMILES }}"
                    src="/renderer/{{ r.SMILES | urlq }}/{{ width }}" />

        </td>

        <td>
            {{ r.SMILES }}
        </td>

        <td>
            {{ r.SCORE }}
        </td>

        <td>
            {{ r.DESIGN }}
        </td>
    </tr>
    {% endfor %}
</table>