{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/tables.css' %}">

<link rel="stylesheet" type="text/css" href="../../static/stylesheets/tables.css">

<table>
    <tr>
        <th> pk </th>
        <th> col1 </th>
        <th> col2 </th>
        <th> col3 </th>
    </tr>

    <tr>
        <td> 1 </td>
        <td> val1 </td>
        <td> v1 </td>
        <td> value1 </td>
    </tr>

    <tr>
        <td> 2 </td>
        <td> val2 </td>
        <td> v2 </td>
        <td> value2 </td>
    </tr>

    <tr>
        <td> 3 </td>
        <td> val3 </td>
        <td> v3 </td>
        <td> value3 </td>
    </tr>

</table> 
